* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Libre Baskerville", serif;
    line-height: 1.4;
    background-color:rgba(247, 240, 240, 0.781); 
}

/* =============== HEADER =============== */

header {
    background-color: rgb(39, 39, 3);
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 70px;

}

header img{
    width:50px;
    height:50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .link-wrapper {
    display: inline-block;
    padding: 5px;
}

header a{
    text-decoration: none;
    color:white;
    font-size:1.7rem;
    padding: 10px 0;
}

header div.left a:hover{
    color:grey;
}

header div.right a:hover{
    background: rgba(128, 128, 128, 0.514);
    color:white;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

nav .link-wrapper.active {
    border: 2px solid grey;
    font-weight: bold;    
}

/* =============== MAIN =============== */

main {
    /*    margin-top: 50px;*/
    /*    min-height: calc(100vh - 200px);*/
}

.wrapper {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.block {
    border-bottom: 6px dotted #efefef;
    padding: 15px 0;
    margin-bottom: 15px;
}


/* =============== TABLE =============== */

table {
    padding: 15px;
    border: 1px solid #e1e1e1;
}

table .delete, table .edit {
    cursor: pointer;
}


/* =============== MODAL =============== */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal .wrapper {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* =============== FORM =============== */

form .field-wrapper {
    margin-bottom: 1.5rem;
}

form .field-error, form .error {   
    color: red;
}

form .message-wrapper {
    margin-bottom: 2em;    
}

form button {
    transition: all 0.5s ease;
}

form.success button {
    font-size: 0;
    background: #21006d;
}

form.success button:after {
    font-size: 20px;
    content: '✔';
}

/* =============== FOOTER =============== */

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 3);
    color:white;
}

.hero{
    background-image: url("/media/img/taxi-hero.jpg");
    background-size: cover;
}

.hero-container {

    background-size: cover;
    height: 300px;
    color: #fff;
    max-width: 100%;
    margin:0 auto;
    overflow: hidden;
}

.flex-bottom {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 150px;
    right: 8px;
}

.hero-text{
    width: 370px;
    font-size: 2.5rem;
    background-color: #ac0606a1;
    color: white;
    margin-right: 30px;
    padding: 3px;
}

a {
    text-decoration: none;
}

main{
    margin-top:0; 
}

.main-area{
    display:flex;
    justify-content: center;
    align-items: center;

}

.service-container {
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden; 
    display:flex;
    justify-content: center;
    align-items: center;

}

h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin:10px 0;
}

p {

    color: white;
    font-size: 1.3rem;
    margin:0;

}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.img {
    width: 100%;
    height:40%;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.card {
    width: 25%;
    height:calc(400px - 40px);
    background:#3A2F0B;
    border:1px solid grey;
}

.card-content {
    padding: 0 5px;
}

iframe {
    width: 100%;
    height: 300px;
}

.optional{
    color:red;
    font-size: 0.9rem;
}


@media screen and (max-width: 400px) {

    .hero-container {
        height: 150px;
    }

    .flex-bottom {
        display: flex;
        justify-content: center;

    }

    .hero-text {
        position: absolute;
        background-color: #ac0606a1;
        width: 100%;
        font-size: 1.5rem;
        text-align: center; 
        bottom: 80px;
        margin: 0;
    }

    .service-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1160px;

    }

    .cards {
        display: flex;
        flex-direction: column;

    }

    .card{
        width:70%;
        height: calc(25%-40px);
        margin-bottom: 20px;

    }

    .card:nth-child(3n+3){
        margin-bottom:0;

    }

}


.bobule {
    width: 50px;
    height: 72px;
    background-image: url(/media/img/bobuletaksiste.png);
    animation: moveX 1s steps(10) infinite;
}

@keyframes moveX {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -500px;
    }
}

.bobule-isvaziuoja {
    animation-delay: 5s;
    animation: mymove 25s infinite;
    animation-name: slidein;
    overflow: hidden;
}

@keyframes slidein {
    from {
        margin-left: 0%;
        width: 100%;
    }
    to {
        margin-left: 100%;
        width: 100%;
    }
}